# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\DREB-Net-main\DREB-Net-main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
